@model ConsoleApp1.Model.WaterConsumption

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>WaterConsumption</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="consumptionOfWater" class="control-label"></label>
                <input asp-for="consumptionOfWater" class="form-control" />
                <span asp-validation-for="consumptionOfWater" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="executingUnit" class="control-label"></label>
                <input asp-for="executingUnit" class="form-control" />
                <span asp-validation-for="executingUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="populationServed" class="control-label"></label>
                <input asp-for="populationServed" class="form-control" />
                <span asp-validation-for="populationServed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="remarks" class="control-label"></label>
                <input asp-for="remarks" class="form-control" />
                <span asp-validation-for="remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="theDailyDomesticConsumptionOfWaterPerPerson" class="control-label"></label>
                <input asp-for="theDailyDomesticConsumptionOfWaterPerPerson" class="form-control" />
                <span asp-validation-for="theDailyDomesticConsumptionOfWaterPerPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="year" class="control-label"></label>
                <input asp-for="year" class="form-control" />
                <span asp-validation-for="year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
